@import "./mixins";
@import "./variables";
 
.post{
    padding-top: 2.5%;
}
.post__list{
    @media(min-width:1200px){
        display: grid;
        grid-template-columns: repeat(2,555px);
    }
    padding-bottom: 3.5%;
}
.post__item{
    padding: 1.8%;
    &--hide{
        display: none;
        @media (min-width:760px) {
            display: block;
        }
    }
}
.post__flex{
    @media (min-width:760px) {
            display: flex;
            column-gap: 3%;
            max-width: 555px;
        }
}
.post__name{
    @include postName;
        font-size: 14px;
    @media (min-width:760px) {
        font-size: 16px;
    }
}
.post__comments{
    @include menuText;
    color: #7C7C7C;
}
.post__desc{
    font-size: 12px;
    @include postDesc;
    display: none;
    &--white{
        padding-top: 1%;
        color: #B9B9B9;
        max-width: 684px;
        margin: 0 auto;
    }
    @media (min-width:760px){
        display: block;
        font-size: 14px;
    }
}

.shots{
    padding-top: 4%;
    padding-bottom: 5%;
    background-color: transparent;
    
    @media (min-width:760px) {
        justify-content: center;
        background-color: #f7f7f7;
    }
}

.title-box{
    display: flex;
    justify-content: space-between;
    padding-bottom: 4%;
}

.shots-box{
    display: flex;
    justify-content: center;
    column-gap: 0.5%;
}
.shots__img{
    &--hide760{
        display: none;
        @media (min-width:760px) {
            display: block;
        }
    }
    &--hide1200{
        display: none;
        @media (min-width:1200px) {
                display: block;
            }
    }
}