@import "./mixins";
@import "./variables";

footer {
    background-color: #000;
    padding-top: 3%;
    padding-bottom: 3%;
    text-align: center;
}
.socials{
 display: flex;
 justify-content: center;
 padding-top: 2%;
 padding-bottom: 2%;
}
.socials__item{
    padding-right: 0.3%;
}
.footer__info{
    @include footerText;
    display: flex;
    justify-content: center;
    flex-direction: column;
        
    @media (min-width:760px) {
        flex-direction: row;
    }
}