@import "./mixins";
@import "./variables";

.container--header {
    padding-top: 83px;

    @media(min-width: 760px){
    padding-top:106px;
   }
   @media(min-width: 1200px) {
       padding-top: 118px;
   }
}
.header-menu-column {
    background: #F5F5F5;
    text-transform: uppercase;
    position: absolute;
    top: 9.5%;
    right: 4%;
    width: 180px;
    padding-left: 2%;
    @media (min-width: 760px) {
            width: 100%;
            background-color: transparent;
        }
}
.header-nav {
    @media (max-width: 760px) {
        display: none;

        &--open {
            display: block;

        }
    }  
}
.header-nav__list{
    @media (min-width: 760px) {
        display: flex;
        justify-content: space-between;
        padding-right: 17%;
        padding-left: 17%;
    }
}

.header-nav__link{
    @include menuText;
    &--home{
        color: #57A4A4;
    }
}
.burger-button {
    display: none;
    @media (max-width: 760px) {
        display: block;
        background-image: url("../img/svg/menu_open.svg");
        background-size: 24px;
        background-repeat: no-repeat;
        background-position: center;
        width: 40px;
        height: 40px;
        border: none;
        background-color: #000;
        cursor: pointer;
        position: absolute;
            right: 4%;
            top: 4%;
    }

    &--active {
        background-image: url("../img/svg/menu_close.svg");
    }
}



