@import "./mixins";
@import "./variables";

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family:$fontsFamily;
    background: rgba(0, 0, 0, 0.0001);
}

h1,h2,h3,h4,p{
    margin: 0;
}

img {
    max-width: 100%;
    display: block;
}

a{
    text-decoration: none;
}

ul,
li{
    padding: 0;
    text-decoration-style: none;
    list-style-type: none;
}

.container {
    max-width: 1200px;
   margin: 0 auto;
   display: flex;
   flex-direction: column;
    padding-left: 25px;
    padding-right: 25px;
}

.banner{
    @media (min-width:760px) {
        padding-top: 5%;
    }
}

.title {
    text-transform: uppercase;
    font-size: 14px;
    @include postName;

    &--hide{
        @media (max-width:760px) {
            display: none;
        }
    }
    &--white{
        color: #FEFEFE;
    }

    @media (min-width:760px) {
        font-size: 16px;
    }
}


