@mixin menuText{
font-weight: 400;
    font-size: 11px;
    line-height: 22px;
    color: $text-color;
}

@mixin postName{
    font-weight: 700;
        line-height: 30px;
        color:#4E4E4E
}

@mixin postDesc{
    font-weight: 400;
        line-height: 26px;
        color: #5C5C5C;
}

@mixin footerText{
    color: #B9B9B9;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
}